* {
    box-sizing: border-box;
}

body {
    background-color:rgb(189, 172, 172);
    height: auto;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: black;
    height: 200px;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 10;
}

nav {
    position: absolute;
    bottom: 0px;
    width: 100%;
}



header li {
    display: inline-block;
    width: 100px;
    color: black;
    background-color: white;
    height: 50px;
    margin-right: 4px;
}




#logo {
    width: 200px;
    position: absolute;
    top: 0 px;
}

/* wht doesnt it work????? */
#right {
    position: absolute;
    right: 0px;
}

/* how to center sections */
section {
    margin-top: 250px; 
}

.banner h2{
    
    text-align: center;
    font-size: 53px;
}

.separator { 
    
    width: 100%;
    height: 300px;
}

.wrapper {
    position: relative;
    display: table;
    margin: 0 auto;
}

.category {
    
    height: 200px;
    width: 200px;
    background-color: white;
    float: left;
}

.category a {
    text-decoration: none;
}



.category.workout {
    background-image: url(./Pictures/dumbell.png);
    background-size: cover;
    margin-right: 10px;
}

.category.diet {
    background-image: url(./Pictures/diet.png);
    background-size: cover;
    margin-left: 10px;
}

.category.supplements {
    background-image: url(./Pictures/supplement.png);
    background-size: cover;
    margin-right: 10px;
}






.category h3 {
    text-align: center;
}

.description {
    background-color: black;
    height: 200px;
    width: 200px;
    float: left;
}

.description p {
    
    text-align: center;
    font-size: 10px;
}

footer {
    border-top-style: solid;
    position: relative; 
    top: 300px;
    width: 100%;
    height: 10px;
}



